
/* ------ layout
-----------------------------------------------*/

#content {
}

.legend {
float:left;
width:250px;
margin-top:140px;
}

.skills {
float:left;
clear:both;
width:100%;
}

.skills ul,
.skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

.skills li {
float:right;
clear:both;
padding:0 15px;
height:35px;
line-height:35px;
color:#fff;
margin-bottom:1px;
font-size:18px;
}

.skills .jq {
background:#D7D159;
}

.skills .css {
background:#A84A59;
}

.skills .html {
background:#D1D8A6;
}

.skills .php {
background:#8A4B1B;
}

.skills .sql {
background:#123242;
}

.skills .python {
background:#612193;
}

.skills .android {
background:#81D816;
}

#diagram {
float:right;
width:600px;
height:600px;
}

.get {
display:none;
}

